# WhatsApp Cloud API
WHATSAPP_ACCESS_TOKEN=EAF1lXpQj6FABRFZAhjSotpv9rOhb9w9RtOAQpMjZBBtNJd2hzggaAlF4FMi0HQNZACmZAGpIX76VZADSoOuD9ZA6XqYTp5pwJlwawEMVRyjY4ZCht2f3sM3PxwsUPyD3ybhb7fc4uAt8kaZCRirWHcQdUINev0RmDVOiSy4qfWsalXtt4QGiZC6yiOnXZCvf5tpk7NX1vyNiw5IZB2MorMtC0bd4bZCN1RLC7oBCGyCy
WHATSAPP_PHONE_NUMBER_ID=1032257806641078
WEBHOOK_VERIFY_TOKEN=your_webhook_verify_token

# Google Gemini API
GEMINI_API_KEY=AIzaSyAF7B3MuOTXvCW6xK-qNFlBRmNwFj9UAh0

# Firebase
FIREBASE_PROJECT_ID=wabot-92630
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json

# Server
NODE_ENV=development
PORT=3000

# Quiz Settings
QUIZ_QUESTION_COUNT=5
SUBSCRIPTION_TRIAL_DAYS=7
